<h4>
  Bem-vindo(a)
  <%= current_user.name %>
</h4>

<br>

<div class="jumbotron">
  <% if current_user.notebook.disciplines.empty? %>
    <p>Você não possui nenhuma disciplina em seu caderno.</p>
  <% else %>
    <h6>Seu caderno:</h6>
    <ul>
      <% current_user.notebook.disciplines.each do |discipline| %>
        <li><%= link_to discipline.name, discipline_path(discipline) %></li>
      <% end %>
    </ul>
    <br>
  <% end %>
  <%= link_to("Adicionar disciplinas ao meu caderno", disciplines_path, class: 'btn btn-embossed btn-info') %>
</div>