<div class="breadcrumb-text ptl">
  <h4 class="caption">Criar Usuário</h4>
  <ul>
    <li><%= link_to("Usuários", users_path) %></li>
    <li>Novo Usuário</li>
  </ul>
</div>

<%= render 'form', user: @user %>

<div class="spacing"></div>

<%= link_to 'Voltar', users_path %>
